@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');


.container{
    max-width: 1170px;
}
a:hover{
    text-decoration: none;
    color: black;
}

a{
    color: black;
    font-family: 'Montserrat';
    margin-right: 20px;
}

.activ:hover{
    color: #00cccc;
}

.pad-top{
    padding-top:183px;
}

.mar-bot{
    margin-bottom: 200px;
}

.mt-100{
    margin-top: 100px;
}

.boutonsubmit{
    background-color: #00cccc;   
    border:1px solid transparent;
    font-family: Georgia, serif;
   font-size: 16px;
    color: white;
   padding: 15px 50px 15px 50px;
   }


.image{
    background-image: url(../media/Photo-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

