a:hover{
    text-decoration: none;
    color: black;
}

a{
    color: black;
    font-family: 'Courier New', Courier, monospace
}

.activ:hover{
    color: #00cccc;
    border-radius: 15px;
}